* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: "Exo", sans-serif;
  background-color: rgba(131, 160, 160, 0.2);
}

#container {
  background: url(../images/Rock-paper-scissors-lizard-spock.png) center center no-repeat;
  background-size: cover;
  margin: 0 auto;
  width: 130vh;
  height: 90vh;
  border-radius: 35px;
  position: relative;
  top: 30px;
  overflow: hidden;
 }

#welcome {
  background-color: #218380;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  border: #80ced7 1px solid;
  border-radius: 35px;
  text-align: center;
  box-shadow: inset 0px 0px 200px 10px #000;
  opacity: 0.90;
}

#welcome h1 {
  padding: 20px;
  color: #eee;
  text-transform: uppercase;
  font-size: 46px;
}

#welcome label {
  padding: 10px;
  font-size: 1.25rem;
  color: #eee;
}

#user-name {
  margin: 10px 0;
  height: 30px;
  width: 200px;
  border: #30b4cb 1px solid;
  border-radius: 5px;
}

#user-name:focus {
  border: #1b5299 1px solid;
  outline: 0;
  padding-left: 10px;
}
.next-btn {
  padding: 10px 30px;
  border: #80ced7 2px solid;
  border-radius: 10px;
}

.welcome-btn a {
  color: inherit;
  text-decoration: none;
}

.next-btn:hover {
  border: lightsalmon 2px solid;
  color: lightsalmon;
  cursor: pointer;
}

.next-btn {
  margin-top: 10px;
  width: 150px;
  background-color: #1b5299;
  box-shadow: #30b4cb;
  color: #eee;
}

#empty,
#status-report,
#game-btn p {
  padding: 10px;
  color: #eee;
  font-size: 36px;
}

#play {
  display: none;
  background-color: #218380;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  border: #80ced7 1px solid;
  border-radius: 35px;
  text-align: center;
  box-shadow: inset 0px 0px 200px 10px #000;
  opacity: 0.95;
}

.game-grid {
  display: grid;
  row-gap: 30px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  grid-template-columns: auto auto auto auto auto;
}

.lizard-rock {
  display: inline-block;
}
.feedback-cell {
  color: #eee;
  padding: 10px;
  border-radius: 20px;
  font-size: 2rem;
}

#result {
  display: none;
  background-color: #218380;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  border: #80ced7 1px solid;
  border-radius: 35px;
  text-align: center;
  box-shadow: inset 0px 0px 200px 10px #000;
  opacity: 0.95;
}

#grid-area {
  display: grid;
  row-gap: 30px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  grid-template-columns: auto auto auto;
  padding: 2px;
}

.game-cell {
  border-radius: 75px;
  padding: 5px;
}

.choice {
  background-color: white;
  position: relative;
  margin: 0 auto;
  height: 150px;
  width: 150px;
  top: 10px;
  border: #80ced7 5px solid;
  border-radius: 75px;
  color: #1b5299;
  box-shadow: 30px lightsalmon inset;
}

.choice-result {
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  height: 150px;
  width: 150px;
  top: 10px;
  border: #80ced7 5px solid;
  border-radius: 75px;
  color: #1b5299;
  font-size: 90px;
  padding: 30px 20px 20px 20px;
}

.choice:hover {
  background-color: #1b5299;
  border: lightsalmon 7px solid;
  color: lightsalmon;
  cursor: pointer;
}

.choice i {
  font-size: 90px;
  padding: 30px 20px 20px 20px;
}

#lizard i {
  padding-left: 5px;
}

footer {
  margin-top: 30px;
  height: 45px;
  background-color: #218380;
  color: #eee;
  position: relative;
}
#footer-about,
#footer-follow {
display: inline-block;
padding-left: 27%;
}
/* Rules page */
#rules {
  display: none;
  background-color: #218380;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  border: #80ced7 1px solid;
  border-radius: 35px;
  text-align: center;
  box-shadow: inset 0px 0px 200px 10px #000;
  opacity: 0.8;
}

#rules h2, 
#rules h3 {
  padding-bottom: 10px;
  color: #eee;
}

#now-play {
  width: fit-content;
}
#rules h2.welcome-btn {
  padding: 10px 30px;
  border: lightsalmon 2px solid;
  border-radius: 5px;
}

#rules h2.welcome-btn:hover {
  color: #eee;
}

@media (max-width: 767){
  #container,
  #welcome {
    width: 100vh;
  }
}