/* Global styles */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: "Exo", sans-serif;
  background: url(../images/bbt.jpg) center center no-repeat;
  background-size: cover;
  opacity: 0.9;
}

/* main container */
#container {
  margin: 0 auto;
  width: 65%;
  height: 86vh;
  background-color: #1b5299;
  border-top: #80ced7 1px solid;
  border-radius: 15px;
  text-align: center;
  position: relative;
  top: 27px;
  overflow: hidden;
}

/* containers of screens*/
#welcome,
#play,
#rules,
#result,
#story {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

/* Default display styles */
#play,
#result,
#rules {
  display: none;
}

#play-again {
  margin-top: 30px;
}

#restart-game {
  margin-top: 45px;
}

.logo {
  float: left;
  text-align: left;
  color: #eee;
  font-size: 18px;
}

.fa-home {
  font-size: 24px;
  color: #eee;
}

a {
  text-decoration: none;
  color: inherit;
}

.question-icon {
  margin-right: 0;
  float: right;
  color: #eee;
  font-size: 24px;
}

.question-icon:hover {
  cursor: pointer;
  color: #ffa07a;
}

nav {
  position: relative;
  color: #eee;
}
.game-screen {
margin-top: 30px;
position: relative;
} 

#welcome h1 {
  padding: 20px;
  color: #eee;
  text-transform: uppercase;
  font-size: 46px;
}

#welcome label {
  padding: 10px;
  font-size: 1.25rem;
  color: #eee;
}

#user-name {
  margin: 10px 0;
  height: 30px;
  width: 200px;
  border: #30b4cb 1px solid;
  border-radius: 5px;
}

#user-name:focus {
  border: #1b5299 1px solid;
  outline: 0;
  padding-left: 10px;
}

.next-btn {
  padding: 10px 30px;
  border: #80ced7 2px solid;
  border-radius: 10px;
  margin-top: 10px;
  width: 150px;
  background-color: #1b5299;
  color: #eee;
}

.welcome-btn a {
  color: inherit;
  text-decoration: none;
}

.next-btn:hover {
  border: lightsalmon 2px solid;
  color: lightsalmon;
  cursor: pointer;
}

#empty,
#status-report,
#game-btn p {
  padding: 10px;
  color: #eee;
  font-size: 24px;
}

#prompt-message {
  grid-column: 1 / span 5;
  height: 75px;
  padding-top: 20px;
  font-size: 28px;
}

#choice-container {
  margin: 0 auto;
  width: 80%;
  max-width: 846px;
}

#choice-container .choice {
  display: inline-block;
  margin: 30px;
}

.lizard-rock {
  display: inline-block;
}

.feedback-cell {
  color: #eee;
  padding: 10px;
  border-radius: 20px;
  font-size: 2rem;
  height: 75px;
}

#score-area {
  width: 100%;
}

#score-area #uscore,
#score-area #comscore {
  display: inline-block;
}

/* Feedback win/lose */
.winner {
  color: darkgreen;
  border: darkgreen 5px solid;
}

.loser {
  color: orangered;
  border: orangered 5px solid;
}

#uscore {
  padding-right: 75px;
}

#comscore {
  padding-left: 75px;
}

/* Feedback during a draw */
.draw {
  color: #1b5299;
  border: #ffa07a 5px solid;
}

.game-cell {
  border-radius: 75px;
  padding: 5px;
}

.choice {
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  height: 150px;
  width: 150px;
  top: 10px;
  border: #1b5299 7px solid;
  border-radius: 75px;
  color: #1b5299;
}

/* Tooltip */
/* Code adapted from https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip */
.tooltip-text {
  visibility: hidden;
  background-color: #ffa07a;    
  color: #1b5299;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
}

.choice:hover .tooltip-text {
  visibility: visible;
}

.choice-made {
  background-color: #fff;
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 75px;
  font-size: 90px;
  padding: 30px 20px 20px 20px;
}

#choice-made {
  margin: 0 auto;
  max-width: 846px;
}

#choice-made .choice-made {
  display: inline-block;
  margin: 10px 45px;
}

.choice:hover {
  background-color: #1b5299;
  border: #ffa07a 7px solid;
  color: #ffa07a;
  cursor: pointer;
  transition: border 1s;
}

.choice i {
  font-size: 90px;
  padding: 30px 20px 20px 20px;
}

#lizard i {
  padding-left: 5px;
}

/* Modal */
#modal {
  display: none;
  width: 65%;
  height: 86vh;
  left: 17.5%;
  top: 27px;
  position: fixed;
  background-color: #1b5299;
  border-top: #80ced7 1px solid;
  border-radius: 15px;
  color: #eee;
  z-index: 5;
}

#modal ul {
  padding-top: 45px;
}

#modal li {
  list-style: none;
  padding-top: 10px;
  font-size: 24px;
}

#close-icon {
  color: #eee;
  font-size: 24px;
  margin: 5px;
  float: right;
}

#close-icon:hover {
  cursor: pointer;
  color: #ffa07a;
}


/* Footer */
footer {
  height: 45px;
  width: 100%;
  background-color: #000;
  color: #eee;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
}

#footer-about,
#footer-follow {
  display: inline-block;
  padding-left: 20%;
}

footer p a {
  text-decoration: none;
  margin-left: 20px;
}

/* Rules page */
#rules h2 {
  padding: 20px;
  color: #eee;
}

#rules li {
  padding-bottom: 10px;
  color: #eee;
}

#now-play {
  width: fit-content;
}

#rules h2.welcome-btn {
  padding: 10px 30px;
  border: lightsalmon 2px solid;
  border-radius: 5px;
}

#rules h2.welcome-btn:hover {
  color: #eee;
}


/* Story page*/

#story h1 {
  color: #eee;
  padding: 10px;
}

#story p {
  text-align: left;
  color: #eee;
  font-size: 18px;
  padding: 10px 45px;
}

#story p a {
  color: #eee;
  padding: 5px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  border: #80ced7 2px solid;
  border-radius: 7px;
  margin-left: 40%;
}

#story p a:hover {
  border: lightsalmon 2px solid;
  color: lightsalmon;
  cursor: pointer;
}


/* Media queries */

@media (max-width: 1024px) {
  #container, #modal {
    width: 75%;
  }

  #choice-made {
    margin-left: 0;
  }

  #modal {
    left: 12.5%;
  }
}

/*Media queries for smaller screens */

@media (max-width: 840px) {
  #container, #modal {
    width: 100%;
  }

  .feedback-cell {
    font-size: 1.25rem;
  }

  .next-btn {
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
    min-width: 75px;
  }

  .choice {
    height: 100px;
    width: 100px;
    top: 10px;
    border-radius: 50px;
  }

  .choice-result {
    height: 100px;
    width: 100px;
    top: 10px;
    border-radius: 50px;
    font-size: 60px;
    padding: 15px 10px 10px 10px;
  }

  .choice i {
    font-size: 45px;
    padding: 15px 10px 10px 10px;
  }

  #comscore, #uscore {
    padding: 0 5px;
  }
  #computer-choice {
    padding-left: 0;
  }

  #modal {
    left: 0;
  }
}